.edit_course_modal .ant-modal-title {
	font-family: 'Apercu-Pro-Bold';
	font-size: 1.2rem;
}

.edit_course_modal .ant-checkbox-wrapper span {
	font-family: 'Apercu-Pro-Regular';
	font-size: 1rem;
}

.edit_course_modal .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #3a10e5;
	border-color: #3a10e5;
}
.edit_course_modal .ant-modal-footer .ant-btn-primary {
	min-width: 40px;
	height: 40px;
	font-family: 'Apercu-Pro-Bold';
	font-size: 1rem;
	padding: 0.25rem 1.3rem 0.25rem 1.3rem;
	background: #3a10e5;
	color: white;
	border-radius: 0.2rem;
	transition: background-color 400ms;
	border: none;
}

.edit_course_modal .ant-modal-footer .ant-btn-primary:hover {
	border-color: #eeff00 !important;
	background: #3b10e5c2 !important;
	color: white !important;
}

.edit_course_modal .ant-modal-footer .ant-btn-default {
	min-width: 40px;
	height: 40px;
	font-family: 'Apercu-Pro-Bold';
	font-size: 1rem;
	padding: 0.25rem 1.3rem 0.25rem 1.3rem;
	background: #ffffff;
	border-radius: 0.2rem;
	transition: color 400ms;
	transition: border 400ms;
}

.edit_course_modal .ant-modal-footer .ant-btn-default:hover {
	color: #3a10e5 !important;
	border-color: #3a10e5;
}

.edit_course_modal .ant-checkbox-group div div {
	padding: 0rem 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.edit_course_modal.ant-checkbox-wrapper {
	width: 100%;
}

.ant-checkbox-group .ant-col {
	padding: 0.3rem 1rem !important;
}

div > .ant-checkbox-wrapper-checked {
	padding: 0rem 0.5rem 0rem 0rem;
}

.slider_goal .ant-slider-rail {
	height: 8px;
}
.slider_goal .ant-slider-track {
	height: 8px;
	background: rgb(255, 211, 0);
}
.slider_goal .ant-slider-handle {
	height: 18px;
	width: 18px;
	border-color: rgb(255, 211, 0);
	border-color: #3a10e5;
	/* background: rgb(255, 211, 0); */
}

.ant-slider:hover .ant-slider-track {
	background-color: initial;
}

.ant-slider:hover,
.slider_goal:hover {
	background-color: initial !important;
	border-color: #3a10e5 !important;
}

.ant-slider-handle:focus {
	border-color: #3a10e5 !important;
	outline: none;
	box-shadow: 0 0 0 5px #3a10e5;
}

.ant-slider:hover .ant-slider-track {
	background-color: rgb(255, 211, 0) !important;
}

.ant-slider:hover .ant-slider-handle {
	border-color: rgb(255, 211, 0) !important;
}

.row_slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row_slider .ant-col {
	justify-content: center;
}

.input_goal {
	font-family: 'Apercu-Pro-Mono';
	color: rgba(0, 0, 0, 0.85);
	font-size: 1.3rem !important;
	font-variant: tabular-nums;
	line-height: 1.5715;
	font-weight: bold;
	width: 100%;
}
