.row_wikidata {
	margin-bottom: 1rem;
}

.wikidata_text {
	text-align: justify;
	text-justify: inter-word;
	white-space: pre-line;
}

code {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	color: #faf8f0;
	background-color: #481d48;
}

.card_lesson_content {
	background-color: #f5f5f5 !important;
	margin-bottom: 1rem !important;
	cursor: pointer;
	-webkit-transition: background-color 450ms linear;
	-ms-transition: background-color 450ms linear;
	transition: background-color 450ms linear;
}
