.profile_title {
	display: flex;
}

.col_square {
	height: 150px;
	width: 150px;
	background-color: white;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-items: center;
	justify-self: center;
	align-items: center;
}
