.topmenu_items {
	display: flex;
	justify-content: space-evenly;
}

.col_logo {
	display: flex;
	justify-content: flex-start;
	align-self: center;
	cursor: pointer;
}

.title_logo {
	color: white !important;
}

/* HERE */
.col_logo h3 {
	display: flex;
	justify-content: flex-start;
	margin: auto !important;
}

.col_avatar {
	display: flex !important;
	justify-content: flex-end !important;
	align-self: center;
}

.col_avatar span {
	justify-content: flex-end;
	align-self: flex-end;
	transform: scale(1.1);
}

.col_search {
	display: flex !important;
	justify-content: flex-end;
	align-self: center;
}

.ant-layout-header {
	padding: 0rem !important;
	background: transparent !important;
}

.header_row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0rem 1.5rem;
}

.col_logo svg {
	width: 50%;
	height: 50%;
	display: flex;
	min-width: 100px;
	min-height: 35px;
}

.button_search span {
	transform: scale(1.4, 1.35);
	color: #423f40;
}
.search_modal {
	min-height: 125px;
	width: 100% !important;
	margin: 0rem !important;
	top: 64px !important;
	max-width: initial !important;
}

.search_modal .ant-modal-header {
	display: none;
}
.search_modal .ant-modal-body {
	display: flex;
	justify-content: flex-start;
	max-width: 1460px;
	margin: auto;
}

.search_modal .ant-modal-content {
	height: 100%;
	border-width: 2px 0px 1px;
	border-style: solid;
	background-color: #ffffff;
	border-top-color: #eeeeee;
	border-bottom-color: #10162f;
}

.input_search {
	border: none !important;
	border-color: #9e9e9e !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
}

.input_search:hover {
	border: none !important;
	border-color: #9e9e9e !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
}

.input_search .ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
	border: none !important;
	box-shadow: none !important;
	border-color: #9e9e9e !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
}

.input_search input {
	font-family: 'Apercu-Pro-Bold';
	font-size: 2.2rem;
	color: #10162f;
	padding: 0rem 0.5rem !important;
	letter-spacing: -0.045em;
}
.input_search span {
	padding: 0.2rem;
}
.input_search svg {
	transform: scale(1.8, 1.8);
	color: #423f40;
}

.row_search {
	width: 100%;
}

.row_search > .ant-col:nth-child(2) {
	font-family: 'Apercu-Pro-Bold';
	font-weight: 700;
	line-height: 1.1;
	margin: 1rem 0px;
	font-size: 1.25rem;
	margin-top: 1.7rem;
}

.row_popular .ant-col {
	font-family: 'Apercu-Pro-Regular';
	font-size: 1rem;
	/* background-color: pink; */
}

.row_popular {
	/* background-color: aqua; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.row_popular .ant-btn {
	font-size: 1rem;
	font-family: 'Apercu-Pro-Bold';
	padding: 1.2rem 1.2rem;
	display: flex;
	align-items: center;
}
