.container_quiz {
	/* max-width: 800px; */
	margin: auto;
	margin-bottom: 3rem;
	background-color: white;
	padding: 1rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.center {
	justify-content: center;
	align-items: center;
}

.progress_row {
	margin: 1rem;
}

.title_row {
	margin: 1rem;
	margin-bottom: 0rem;
}

.row_answers {
	margin: 0.8rem;
}

.row_submit {
	margin-top: 1.2rem;
}

.button_quiz {
	min-width: 500px;
}

.border_red {
	border-color: #f7000070 !important;
}

.border_green {
	border-color: #6dd85a !important;
}

.bg_red {
	background: #cb3c3c2b !important;
}
.bg_green {
	background: #6dcb3c2b !important;
}
