.button_menu span {
	font-size: 1.75rem;
	transform: scale(1.1, 0.9);
}
.icon_menu {
	color: black !important;
}

.header .navbar {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	line-height: normal;
	padding: 1rem 2.5rem 1rem 1rem;
}

.row_topbar {
	width: 100%;
}

.row_topbar .ant-col:nth-child(1) {
	justify-content: flex-start;
}

.row_topbar .ant-col:nth-child(2) {
	display: flex;
	justify-content: flex-end;
}

.col_logo_top svg {
	width: 120px;
	height: 40px;
}

.drawer_menu .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-header {
	/* background-color: pink !important; */
	height: 76px;
	padding: 0rem;
}

.drawer_menu .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-header {
	display: none;
}

.drawer_menu .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-body {
	padding: 0rem;
	margin: 0rem 1.5rem;
	margin-top: 0.2rem;
}

.drawer_menu .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-body .row_drawer_top {
	height: 64px;
}

.drawer_menu .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-body .ant-col:nth-child(1) {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.drawer_menu .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-body .row_drawer_top .ant-col:nth-child(2) {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.drawer_menu
	.ant-drawer-content-wrapper
	.ant-drawer-content
	.ant-drawer-body
	.row_drawer_top
	.ant-col:nth-child(2)
	.ant-btn {
	color: black;
	font-size: 1.5rem;
	padding: 1.4rem 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.6rem;
}
.drawer_menu
	.ant-drawer-content-wrapper
	.ant-drawer-content
	.ant-drawer-body
	.row_drawer_top
	.ant-col:nth-child(2)
	.ant-btn:hover {
	background: #0000001f;
	border-radius: 4px;
}

.row_menu_mobile > .ant-col {
	padding: 0.8rem 0.5rem;
	width: 100%;
}
.row_menu_mobile .font_menu_item {
	font-size: 1rem;
	width: 100%;
}
.row_menu_mobile .font_menu_item span {
	font-size: 1.4rem;
	padding-right: 1.5rem;
}

.menu_user_mobile .ant-menu-submenu-title {
	padding: 0rem !important;
}
.menu_user_mobile .-title-content {
	margin-left: 1.5rem;
	font-family: 'Apercu-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
	color: #10162f;
	text-align: left;
	font-size: 1rem;
	color: #423f40;
	letter-spacing: -0.01rem;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
	border-right: none !important;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
	color: #3a10e5 !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
	flex: auto;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 1.5rem;
	font-family: 'Apercu-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
	color: #10162f;
	text-align: left;
	font-size: 1rem;
	color: #423f40;
	letter-spacing: -0.01rem;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > *,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > * {
	flex: none;
	font-size: 1.4rem;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
	color: black !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: transparent !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
	border-right: none !important;
}

.menu_user_mobile .anticon {
	color: rgba(0, 0, 0, 0.795) !important;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
	padding-left: 0.5rem !important;
}

.ant-menu-sub.ant-menu-inline {
	background: transparent !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active {
	background: #ffffff;
}

.search_menu_mobile {
	border: none !important;
	border-color: #9e9e9e !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	padding: 0.4rem 0.4rem 0.4rem 0rem !important;
}

.search_menu_mobile .anticon-search {
	font-size: 1.3rem;
}
.search_menu_mobile .ant-input {
	font-family: 'Apercu-Pro-Bold';
	font-size: 1.1rem;
	color: #10162f;
	padding: 0rem 0.5rem !important;
	letter-spacing: -0.04em;
}

.ant-drawer-top.ant-drawer-open .ant-drawer-content-wrapper {
	height: 578px !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active {
	background: #adadad00 !important;
}

.modal_edit_password .ant-avatar.ant-avatar-icon {
	margin: auto !important;
}

@media (max-width: 576px) {
	.modal_switch_profile .account_main,
	.modal_switch_profile .ant-modal-body {
		margin: 0rem !important;
		padding: 0rem !important;
	}
}
